.carousel-multi-item.v-2 .carousel-item {
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 25%
}
.carousel-multi-item.v-2 .carousel-control-prev,
.carousel-multi-item.v-2 .carousel-control-next {
  width: 5%;
}
.carousel-multi-item.v-2 .carousel-indicators li {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 12px;
  height: 12px;
  text-indent: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all .4s;
}
.carousel-multi-item.v-2 .carousel-indicators li.active,
.carousel-multi-item.v-2 .carousel-indicators li:hover {
  width: 12px;
  height: 12px;
  margin: 1px;
  background-color: #4285f4;
}
.carousel-multi-item.v-2 .carousel-indicators li.active {
  background-color: #4285f4;
}
